<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Shared Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <ion-grid>

    <!-- Item Totals Row & Columns -->
    <ion-row align-items-center>
      <!-- Inventory Items Total -->
      <ion-col class="total-column" size="6">
        Total Items:
      </ion-col>
      <!-- Items In User Inventories Total -->
      <ion-col class="total-column" size="6">
        Items Out:
      </ion-col>
    </ion-row>

    <!-- Item List Row & Column -->
    <ion-row align-items-center>
      <!-- Item List Column -->
      <ion-col class="inventory-column">
        <div class="col-header">Shared Items</div>
        <ion-list dragula="bag" [(dragulaModel)]="q1">
          <ion-item *ngFor="let item of q1" [color]="item.color" expand="block" text-wrap>
            {{ item.value }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Move to Shared Inventory Area, Fixed at Bottom -->
  <ion-row class="move-item" justify-content-center>
    <ion-col text-center>
      <h4 >Add to Personal Inventory</h4>
      <ion-icon name="return-left"></ion-icon>
    </ion-col>
  </ion-row>

</ion-content>