<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Shared Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <ion-grid>

    <!-- Item List Row & Column -->
    <ion-row align-items-center>
      <!-- Item List Column -->
      <ion-col class="inventory-column">
        <div class="col-header">Available Items</div>
        <ion-list dragula="bag" [(dragulaModel)]="q1">
          <ion-item *ngFor="let item of loadSharedItems(); let i = index" [color]="primary" expand="block" text-wrap>
            <ion-label>
              <h2>{{item.name}}</h2>
              <p>{{item.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Move to Shared Inventory Area, Fixed at Bottom -->
  <ion-row class="move-item" justify-content-center>
    <ion-col text-center>
      <h4>Add to Personal Inventory</h4>
      <ion-icon name="return-left"></ion-icon>
    </ion-col>
  </ion-row>

</ion-content>