<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Shared Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <ion-grid>

    <ion-row align-items-center>
      <ion-col class="total-column" size="6">
        Total Items:
      </ion-col>
      <ion-col class="total-column" size="6">
        Items Out:
      </ion-col>
    </ion-row>

    <ion-col class="q1">
      <div class="q-header"></div>
      <ion-list dragula="bag" [(dragulaModel)]="q1" lines="none">
        <ion-item *ngFor="let item of q1" [color]="item.color" expand="block" text-wrap>
          {{ item.value }}
        </ion-item>
      </ion-list>
    </ion-col>

  </ion-grid>

  <ion-row style="position: fixed; bottom: 0; left: 0; right: 0" class="delete-area" justify-content-center>
    <ion-col text-center>
      <h4 style="margin-bottom: 0px; margin-top: 5px">Add to Personal Inventory</h4>
      <ion-icon name="return-left" size="xlarge" color="medium"></ion-icon>
    </ion-col>
  </ion-row>

</ion-content>