.title {
    text-align: center;
  }

  ion-toolbar {
    --background: var(--ion-color-primary); 
    --color: var(--ion-color-primary-contrast);
  }

  ion-item {
    --background: var(--ion-color-light);
  }