<ion-header class="header">
  <ion-toolbar>
    <ion-title class="title">
      My Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <ion-grid>

    <!-- Item Lists Row & Columns -->
    <ion-row>
      <!-- Active Items List Left 5/12 -->
      <ion-col size="6" class="active-column">
        <div class="col-header">Active Items</div>
        <ion-list dragula="bag1" [(dragulaModel)]="q1">
          <ion-item *ngFor="let item of loadActiveItems(); let i = index" [color]="secondary" expand="block" text-wrap>
            <ion-label>
              <h2>{{item.name}}</h2>
              <p>{{item.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- My Inventory List Right 7/12 -->
      <!-- TODO: Make column scrollable without moving Active Items -->
      <ion-col size="6" class="inventory-column">
        <div class="col-header">Inactive Items</div>
        <ion-list dragula="bag1" [(dragulaModel)]="q2">
          <ion-item *ngFor="let item of loadPersonalItems(); let i = index" [color]="secondary" expand="block" text-wrap>
            <ion-label>
              <h2>{{item.name}}</h2>
              <p>{{item.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Move to Shared Inventory Area, Fixed at Bottom -->
  <ion-row class="move-item" justify-content-center>
    <ion-col text-center>
      <h4>Add to Shared Inventory</h4>
      <ion-icon name="return-right"></ion-icon>      
    </ion-col>
  </ion-row>

</ion-content>