<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      My Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <ion-grid>

    <!-- Item Totals Row & Columns -->
    <ion-row align-items-center>
      <!-- Active Items Total -->
      <ion-col class="total-column" size="6">
        Active Items:
      </ion-col>
      <!-- Inventory Items Total -->
      <ion-col class="total-column" size="6">
        Inventory Items:
      </ion-col>
    </ion-row>

    <!-- Item Lists Row & Columns -->
    <ion-row>
      <!-- Active Items List Left 5/12 -->
      <ion-col size="6" class="active-column">
        <div class="col-header">Active Items</div>
        <ion-list dragula="bag1" [(dragulaModel)]="q1">
          <ion-item *ngFor="let item of q1" [color]="item.color" expand="block" text-wrap>
            {{ item.value }}
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- My Inventory List Right 7/12 -->
      <!-- TODO: Make column scrollable without moving Active Items -->
      <ion-col size="6" class="inventory-column">
        <div class="col-header">My Inventory</div>
        <ion-list dragula="bag1" [(dragulaModel)]="q2">
          <ion-item *ngFor="let item of q2" [color]="item.color" expand="block" text-wrap>
            {{ item.value }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Move to Shared Inventory Area, Fixed at Bottom -->
  <ion-row class="move-item" justify-content-center>
    <ion-col text-center>
      <h4>Add to Shared Inventory</h4>
      <ion-list dragula="bag1" [(dragulaModel)]="q3">
      </ion-list>
      <ion-icon name="return-right"></ion-icon>
    </ion-col>
  </ion-row>

</ion-content>
